body{
    margin:0px;
    padding:0px;
}

.game td
{
    width:100px;
    height:100px;
    border: solid 2px  #2193b0;
    text-align:center;
    font-size:30px;
    border-radius:5%;
    box-sizing:border-box;
}

.game td:hover
{
    background-color: rgb(211,211,211);
}

.game .game-title
{
  background: -webkit-linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    color:white;
    padding: 10px;
    text-align:center;
    font-size:130%;
}

.game .player
{
    float:left;
    text-align:center;
    width: 25%;
    margin-top:3%;
}

.game .player .selected
{
    border-bottom:solid 4px rgb(211,211,211);
}

.tictactoe
{
      width: 35%;
      margin-top:10%;
      margin-left:10%;
}

.tictactoe-board-score1
{

    width:20%;
}
#player1,#player2
{
  font-family: monospace;
  font-size:25px;
}
.player{
  font-family:monospace;
  font-size:25px;
}
.clear
{
    clear:both;
}
